
 header .link-logo {
    
    padding: 20px 25px;
      /* se refere a margem interna */ 
      
      

  }


.linha{
  border-bottom: 1px solid #25cbd3;
} 

  header nav ul {
padding:0%;
text-align: center;
border-bottom:2px #25cbd3; 
}

header nav ul li{
display: inline-block;

}

header nav ul li:not(:last-child){

margin-right: 15px;

}

.menu li a {
color:#fff;
text-decoration: none;
   


}

