
html{ height:100px;

}


body { 
    background-color: blueviolet;
    font-family: sans-serif; 
    color: #fff; /* cor padrão do site */ 
    margin: 0; /* se refere a margem externa da página */ 
}

.cover-container figure img {
    width: 100%;
    

}


