
html{ height: 100px;

}


body { background-color:rgb(112, 79, 179);
    font-family: sans-serif; 
    color: #fff; /* cor padrão do site */ 
    margin: 0; /* se refere a margem externa da página */ 
}

.cover-container figure img {
    width: 100%;
    

}


